html, body {
    overflow: hidden;
}
body{
    background: black;
}
canvas{
    position: absolute;
}
label, p{
    color: white;
}
.centering
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}